S3method(confint,RSA)
S3method(plot,RSA)
S3method(plot,cRSA)
S3method(print,RSA)
export(RSA)
export(RSA.ST)
export(compare)
export(demoRSA)
export(getPar)
export(modeltree)
export(movieRSA)
export(plotRSA)
